
.forms {
	background-color: var(--dark);
	color: var(--light);
}

.backgroundImg {
	background-image: url("8bit.jpg");
	height: auto;
	width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.content{
	color: white;
	font-size: 30px;
}

.content :hover {
	color: yellow;
}

nav {
	background-color: var(--dark);
	color: var(--light);
	display: flex;
	justify-content: space-between;
	
}

.reviewsA, a {
	color: white;

}

 .desc {
	background-color: #ccc;
	border-radius: 10px;
	text-align: center;
}