<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Video Games Categories</title>
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
	<link rel="stylesheet" type="text/css" href="/css/styleC.css">
	<!-- <link rel="stylesheet" type="text/css" href="/css/categories-layout.css">
	<link rel="stylesheet" type="text/css" href="/css/nav.css">-->
</head>
<div class="backgroundImg">
<body>

	<article th:each="category : ${categories}">
		<div class="container">
		<ul>
			<li><h3><a th:href="@{/category(id=${category.id})}" th:text="${category.name}">Category Links</a></h3></li>
		</ul>
		</div>
	</article>

</div>
</body>
</html>